<!-- FOOTER -->
<div class="grid_12" id="nav_footer">
    ....footer...
</div>

<div class="clear"></div>

<!-- debug info -->
<br/>
<hr/>
<br/><br/>

<h6>debug params</h6><br/>
<%= debug params %><br/>


<h6>debug flash</h6><br/>
<%= debug flash %>